.body{
   background-color: #FAEBD7;
   color: #7f8c8d;
   font-size: 90%;
   font-family: Arial;
   line-height:2;
   text-align: left;  
}
.body{
   margin:  auto; 
   width: 1500px;
}
a{text-decoration: none;}
a:link, a:visited {color: #95a5a6;}
a:hover, a:active {color: #FFFAFA;}

.mainheader nav {
   background-color: #2c3e50;
   height: 90px;
   width: 100%;
   border-radius: 200px;
}        
.mainheader nav ul {
   font-size: 100%;
   text-align: left;
   list-style: none;
   margin: 5px -30px;
}

.mainheader nav ul li {
   display: inline-block;
   cursor: pointer;
   padding: 5px;
}
.logo {
   margin-top: 15px;
   margin-bottom: 0 25px;
   font-family: boardway;
   font-size: 300%;
}

.logo img {
   width: 5%;
   height: 5%;
   color: #95a5a6;
}
.sign-in-btn{
   top: 0;	
   right: 0;
   position: left;
}

.sign-in-btn img {
   width: 15px;
   text-align: right;
}
.register-btn{
   top: 0;	
   right: auto;
   position: left;
}  
 .register-btn img {
   width: 15px;
   text-align: right;
}
.search img{
   width: 25px;
   text-align: right;
   top: 37px;	
   right: 130px;
   position: absolute;
} 
.physics img {
   height: 450px;
   width: 750px;
   float: right;
   border-radius: 15px;
}
.icon img {
   width: 455px;
   display: inline;
   list-style: none;
}